[consonants]
ˈ
b
ɕ
d
d̥
ð
dʒ
f
ɡ
h
i̯
j
k
l
m
n
ɲ
ŋ
p
pf
ʀ
ʁ
s
ʃ
t
ts
tʃ
ɥ
v
w
z
ʑ
ʒ
θ
χ
[nuclei]
a
aː
ãː
aːɐ
æ
æː
æːɪ
æːʊ
ɐ
ɑ
ɑ̃ː
ɑɪ
ɑɪ
ɑʊ
e
eː
ə
əʊ
ɛ
ɛː
ɛ̃ː
ɛːɐ
ɜɪ
i
iː
iːɐ
iːə
iə
ɪ
o
ø
oː
øː
øːɐ
œ
œː
oɪ
ɔ
ɔː
ɔːɐ
ɔø
ɔʏ̯
u
uː
uːɐ
uːə
uə
ʊ
ʊɐ
y
yː
[onsets]
#s k l
#s k ʀ
#s k w
#s t
#s t ʀ
ˈ
b
b i̯
b l
b ʀ
ɕ
d
d̥
d i̯
ð
d ʀ
dʒ
dʒ w
f
f i̯
f ɥ
f l
f ʀ
ɡ
ɡ l
ɡ n
ɡ ʀ
g z
h
i̯
j
k
k ɥ
k i̯
k l
k n
k ʀ
#k s
k w
l
l i̯
m
m i̯
n
n i̯
n w
ɲ
p
p ɥ
p i̯
p l
p ʀ
p s
p w
p f
p f l
p l w
ʀ
ʀ i̯
ʁ
s
s ɥ
s i̯
s w
ʃ
ʃ i̯
ʃ l
ʃ m
ʃ n
ʃ p
ʃ p l
ʃ p ʀ
ʃ ʀ
ʃ t
ʃ t ʀ
ʃ v
ʃ w
t
t i̯
t ʀ
t ʃ
t w
ts
ts i̯
ts ʀ
ts w
v
v ʀ
w
z
z i̯
ʑ
ʒ
ʒ i̯
χ
